
Debug/.qmake.stash
Debug/debug/Color.o
*.o
Debug/debug/moc_ColorList.cpp
*.user
Debug/object_script.PaintingRecipe.Release
Debug/object_script.PaintingRecipe.Debug
Debug/Makefile.Release
Debug/Makefile.Debug
Debug/Makefile
Debug/debug/qrc_recipes.cpp
Debug/debug/qrc_qml.cpp
Debug/debug/PaintingRecipe.exe
Debug/debug/moc_XmlReader.cpp
Debug/debug/moc_RecipeList.cpp
Debug/debug/moc_predefs.h
Debug/debug/moc_ColorXmlReader.cpp
